<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <title>Home</title>
  </head>
  <body class="lift:content_id=main">
    <div id="main" class="lift:surround?with=default;at=content">

      <h2>Lesson Template</h2>

			<div class="lift:lessonTView">
				<span id="result"/>
			</div>

			<table>
				<thead>
					<tr>
						<th>Question</th>
						<th>Folder</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody class="lift:lessonTView.qList">
					<tr class="question">
						<td><a href="" class="qText">question</a></td>
						<td><span class="qFolder"/></td>
						<td><button class="qDelete"></td>
					</tr>
				</tbody>
			</table>

			<form class="lift:lessonTView.folderQs">
				<table>
				<tr><td><select id="folder_sel">select</select>  <b>Folders</b></td></tr>
				<tr><td><select id="folder_qs">select</select></td></tr>
				<tr><td><input id="folder_submit" /></td></tr>
				</table>
			</form>

    </div>
  </body>
</html>

